/* PAGES */
/* Home Styles */

.home {
  $lightGrey: rgb(241, 234, 234);
  $transGray: rgba(241, 234, 234, 0.25);

  #navbar.motherboard {
    background-color: rgba($color: #000000, $alpha: 0);
  }
  #navbar.neon {
    background-color: #ed36c8;
  }
  #navbar.cloud {
    background-color: #000;
  }

  #home {
    color: $lightGrey;
    background-color: #000;
    height: 100%;
    width: 100%;
    #pitches {
      height: 100%;
      .sections {
        height: 100%;
      }
    }
  }

  .videobg-content {
    display: table;

    .video-overlay-text {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 5rem;
      @media screen and (max-width: 750px) {
        font-size: 2.5rem;
      }
    }
  }

  a:hover {
    text-decoration: none !important;
  }

  .btn-primary {
    background-color: #151515 !important;
    border-color: #151515 !important;
    color: $lightGrey !important;
    font-size: 2rem !important;
    font-weight: 700 !important;
    text-decoration: none !important;
  }

  .btn-primary:hover {
    background-color: $lightGrey !important;
    border-color: $lightGrey !important;
    color: #151515 !important;
    text-decoration: none !important;
  }

  .btn-outline-primary {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: $lightGrey !important;
    color: $lightGrey !important;
    // font-size: 2rem !important;
    // font-weight: 700 !important;
    text-decoration: none !important;
  }

  .btn-outline-primary:hover {
    background-color: $lightGrey !important;
    border-color: $lightGrey !important;
    color: #151515 !important;
    text-decoration: none !important;
  }

  .custom-spacer {
    border-style: solid;
    border-color: $transGray;
    border-width: 1px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .offerings-container,
  .clients-container,
  .partners-container {
    h1 {
      margin-top: 3rem;
      margin-bottom: 3rem;
      font-weight: 800;
    }
  }

  .call-to-action {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #000;
    img {
      padding-bottom: 1rem;
      max-width: 300px;
      max-height: 300px;
    }
    .row {
      padding-top: 1rem;
    }
  }
}

/* Offerings Styles */

.offerings {
  #offerings {
    background-color: #000;
    padding-top: 0rem;
    position: relative;
    h1{
      color: #fff;
    }
    .call-to-action {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  #offerings.anim1 {
    background-color: #80bfff;
  }
  #offerings.anim2 {
    background-color: rgb(0, 0, 0);
  }
  #offerings.anim3 {
    background-color: rgb(255, 255, 255);
  }
  #canvas-background {
    position: fixed;
    left: 0px;
    top: 3rem;
  }
}

/* Onboarding Styles */

.onboarding {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .onboarding {
    background: rgba(0, 0, 0, 1);
    .tab-wrapper {
      margin-top: 3rem;
      .tabs {
        ul.nav {
          border-bottom: unset;
          li.nav-item {
            a.nav-link {
              color: #fff;
              border-radius: 5px 5px 5px 5px;
            }
            a[aria-selected="true"] {
              color: #000;
              svg {
                animation-name: spin;
                animation-duration: 2500ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
              }
            }
            .industry-tab, 
            .business-tab, 
            .funding-tab, 
            .description-tab {
              svg {
                animation: none;
                animation-name: none !important;
              }
            }
            .funding-tab[aria-selected="true"] {
              svg {
                color: rgb(31, 214, 24);
              }
            }
          }
        }
        .tab-content {
          .active {
            border-style: solid; 
            border-width: 1px;
            //border-color: rgb(255, 255, 255);
            border-color: rgb(0, 0, 0);
            border-radius: 0px 0px 15px 15px;
          }
        }
      }
    }
  }

  /**
  * Animation class scale-in-top
  */
  .scale-in-top {
	  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	          animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2021-8-14 16:10:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
  * ----------------------------------------
  * animation scale-in-top
  * ----------------------------------------
  */
  @-webkit-keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }

  /**
  * Animation class scale-out-top
  */
  .scale-out-top {
    -webkit-animation: scale-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: scale-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  /* ----------------------------------------------
  * Generated by Animista on 2021-8-14 16:14:56
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

  /**
  * ----------------------------------------
  * animation scale-out-top
  * ----------------------------------------
  */
  @-webkit-keyframes scale-out-top {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
      height: 100%;
    }
  }
  @keyframes scale-out-top {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
      height: 0px;
    }
  }

  .text-pop-up-bottom {
    -webkit-animation: text-pop-up-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: text-pop-up-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  /* ----------------------------------------------
  * Generated by Animista on 2021-8-14 16:54:54
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

  /**
  * ----------------------------------------
  * animation text-pop-up-bottom
  * ----------------------------------------
  */
  @-webkit-keyframes text-pop-up-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #333333, 0 2px 0 #333333, 0 3px 0 #333333, 0 4px 0 #333333, 0 5px 0 #333333, 0 6px 0 #333333, 0 7px 0 #333333, 0 8px 0 #333333, 0 9px 0 #333333, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #333333, 0 2px 0 #333333, 0 3px 0 #333333, 0 4px 0 #333333, 0 5px 0 #333333, 0 6px 0 #333333, 0 7px 0 #333333, 0 8px 0 #333333, 0 9px 0 #333333, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }

  .flicker-1 {
    -webkit-animation: flicker-1 2s linear infinite both;
            animation: flicker-1 2s linear infinite both;
  }

  /* ----------------------------------------------
  * Generated by Animista on 2021-8-14 17:43:44
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

  /**
  * ----------------------------------------
  * animation flicker-1
  * ----------------------------------------
  */
  @-webkit-keyframes flicker-1 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    47.99% {
      opacity: 1;
    }
    48% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    49.01% {
      opacity: 1;
    }
  }
  @keyframes flicker-1 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    47.99% {
      opacity: 1;
    }
    48% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    49.01% {
      opacity: 1;
    }
  }

}

/* COMPONENTS */
/* Business Model */
#startup-business-model {
  background-color: #151515;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 0px 0px 15px 15px;
  .container {
    h1 {
      padding-bottom: 1rem;
    }
    .row {
      justify-content: center;
      padding-bottom: 1rem;
    }
  }
}

/* Footer */
.footer {
  #footer {
    background-color: #000000;
  }

  .footer {
    // background-color: #343a40;
    letter-spacing: 0.5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fafafa;
    ul {
      list-style: none;
      color: grey;
    }
  }
}

/* Funding */
#funding {
  color: #fff;
  background-color: #151515;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 0px 0px 15px 15px;
  .container {
    h1 {
      padding-bottom: 2rem;
    }
    .row {
      padding-bottom: 2rem;
      justify-content: center;
    }
  }
}

/* Industry Selection */
.industry-selection {
  #startup-industry-selection {
    color: #fff;
    background-color: #151515;
    border-radius: 0px 0px 15px 15px;
    .container {
      padding-top: 3rem;
      padding-bottom: 1.5rem;
      h1 {
        padding-bottom: 2rem;
      }
      .row {
        padding-bottom: 1rem;
        padding-bottom: 1rem;
      }
      .row:last-child {
        padding-top: 2rem;
      }
    }
  }
  .industry-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
    .btn-outline-info:hover {
      color: #000 !important;
    }
  }
}

/* NavBar */
.nav {
  $lightGrey: rgb(241, 234, 234);
  #navbar {
    padding-top: 1rem;
    padding-right: 2rem;
    //background-color: rgba($color: #000000, $alpha: 0.0);
    z-index: 9999;
    .navbar-brand a{
      color: rgb(255, 255, 255);
      text-decoration: none;
      img {
        max-height: 2.25rem;
        max-width: 2.25rem;
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .navbar-text {
      font-size: 2rem;
      color: #fff;
    }
    @media screen and (max-width: 425px) {
      .navbar-text {
        font-size: 1.25rem;
        color: #fff;
      }
    }
    @media screen and (max-width: 375px) {
      .navbar-text {
        font-size: 1rem;
        color: #fff;
      }
    }
  }

  .nav-item {
    a {
      text-decoration: none;
      color: $lightGrey;
    }
  }
}

/* Offerings */
.offerings-container {
  background-color: rgba($color: #000000, $alpha: 0.0);
  h1 {
    letter-spacing: 3px;
    color: #151515;
  }
  .offerings-row {
    padding-top: 1rem;
    padding-bottom: 1rem;
    .col {
      display: flex;
      justify-content: center;
      .card {
        background-color: #151515 !important;
        max-width: 20rem;
        min-height: 27rem;
        text-align: left;
        color:#fff;
        cursor: pointer;
      }
      .card:hover {
        background-color: #ffffff;

        .card-body {
          background-color: $lightGrey;
          color: #151515;
        }
      }
      #mid-card:hover {
        background-color: #ed36c8 !important;
        .card-body {
          background: linear-gradient(to left,#03f5f1, #0408f7);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

/* Partners */
.partners-container {
  .card {
    background-color: #151515 !important;
    height: auto;
    width: 100%;
    text-align: left;
  }
}

/* Past Client2 */
.past-client {
  border-top: 1px solid #979798;
  padding-left: 3rem;
  padding-right: 3rem;
  div {
    div.row {
      div.col {
        display: flex;
        justify-content: center;
        align-items: center;
        
        div.client-about {
          border: 2px solid #ff7c00;
          padding: 0.15rem 0.15rem 0.15rem 0.15rem;
          color: #ff7c00;
          div {
            border: 1.5px solid #ff7c00;
          padding: 1.15rem 1.5rem 1.5rem 1.5rem;
          }
        }
        img.client-logo {
          height: 20rem;
          width: auto;
        }
      }
    }
  }
}

/* Past Clients */
.clients-container {
  .card {
    background-color: #151515 !important;
    height: auto;
    width: 100%;
    text-align: left;
    .img-container-light {
      background-color: #ffffff;
      min-height: 285px;
      @media screen and (max-width: 750px) {
        min-height: 50vh;
      }
      .img-background-light {
        width: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

/* Pitch */
$transGray: rgba(241,234,234, 0.25);
.pitch-div {
  height: 100%;
  font-size: 2rem;
  display: flex;
  //align-items: center;
  justify-content: center;
  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .center-image {
      @media (min-width: 319px) {
        max-width: 100%;
        height: auto;
      }
      @media (min-width: 374px) {
        max-width: 100%;
        height: auto;
      }
      @media (min-width: 424px) {
        max-width: 100%;
        height: auto;
      }
      @media (min-width: 767px) {
        max-width: 100%;
        height: auto;
      }
      @media (min-width: 1023px) {
        max-width: 100%;
        height: auto;
      }
    }
    .center {
      // TODO: Find a good font family for champion text
      letter-spacing: 0.5rem;
      font-weight: 700;
      font-size: 4rem;
      position: absolute;
      text-align: center;
      cursor: default;
      @media (min-width: 319px) {
        max-width: 60%;
        height: auto;
      }
      @media (min-width: 319px) {
        font-size: 1.5rem;
      }
      @media (min-width: 374px) {
        font-size: 2rem;
      }
      @media (min-width: 424px) {
        font-size: 2rem;
      }
      @media (min-width: 767px) {
        font-size: 3rem;
      }
      @media (min-width: 1023px) {
        font-size: 4rem;
      }
    }
  }
}

/* ProjectPriority */
.priorities {
  color: #fff;
  background-color: #151515;
  border-radius: 0px 0px 15px 15px;
  .container {
    h1 {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }
    .row {
      padding-top: 1rem;
      padding-bottom: 1rem;
      .col {
        display: flex;
        justify-content: center;
      }
    }
    .row:last-child {
      padding-top: 2rem;
      padding-bottom: 3rem;
    }
  }
}

.priority-header {
  margin: auto;
}

.priority-explanation {
  margin: auto;
}

/* Signup */
.signup-app {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(0, 0, 0);
  border-radius: 0px 0px 15px 15px;
  .container {
    position: relative;
    .form-group {
      legend {
        color: #fff;
      }
    }
    .signup-initial {
      display: none;
    }
    .signup-final {
      span {
        color: #ececec;
      }
    }
  }
  .form-control {
    color: #fff;
    background-color: #151515;
    border: 1px solid #151515;
  }
  .card-header {
    background-color: #1d1d1d;
  }
  .card-body {
    background-color: #151515;
  }
  pre {
    color: #ccd4da !important;
  }
}

/* Startup Cycle */
$green: rgb(0, 255, 4,);
$red: rgb(255, 4, 0);
$blue: rgb(4, 0 ,255);
$yellow: rgb(255, 238, 0);
$purple: rgb(238, 0, 255);
$cyan: rgb(0, 255, 238);
$dark: #151515;
$light: rgb(241, 234, 234);

#startup-cycle-app {
  color: #fff;
  background-color: #151515;
  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0rem;
  border-radius: 0px 0px 15px 15px;
  .ctl-row {
    padding-bottom: 1rem;
  }
}

.cycle-node {
  border-radius: 50%;
  height: 7.5rem;
  width: 7.5rem;
  color: $dark;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 2rem;
  font-size: 1.375rem;

  p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}.cycle-node:hover {
  cursor: pointer;
}

.btn-outline-primary {
  cursor: default !important;
}

.startup-cycle-explanation {
  margin-left: unset;
  margin-right: unset;
  font-size: 1.375rem;
}


.node-1 {
  background: $green;
}

.node-1:hover {
  box-shadow: 0 0 0 0 rgba(0, 255, 4, 1);
  //transform: scale(100); // what does this do?
  animation: pulse-1 2s infinite;
}

@keyframes pulse-1 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 255, 4, 0.7);
  } 70% {
    transform: scale(1);
    box-shadow: 0 0 0 1.5rem rgba(0, 255, 4, 0);
  } 100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 255, 4, 0);
  }
}

.node-2 {
  background: $cyan;
}

.node-2:hover {
  box-shadow: 0 0 0 0 rgba(0, 255, 238, 1);
  transform: scale(1);
  animation: pulse-2 2s infinite;
}

@keyframes pulse-2 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 255, 238, 0.7);
  } 70% {
    transform: scale(1);
    box-shadow: 0 0 0 1.5rem rgba(0, 255, 238, 0);
  } 100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 255, 238, 0);
  }
}

.node-3 {
  background: $blue;
  color: $light;
}

.node-3:hover {
  box-shadow: 0 0 0 0 rgba(4, 0 ,255, 1);
  transform: scale(1);
  animation: pulse-3 2s infinite;
}

@keyframes pulse-3 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(4, 0 ,255, 0.7);
  } 70% {
    transform: scale(1);
    box-shadow: 0 0 0 1.5rem rgba(4, 0 ,255, 0);
  } 100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(4, 0 ,255, 0);
  }
}

.node-4 {
  background: $purple;
}

.node-4:hover {
  box-shadow: 0 0 0 0 rgba(238, 0, 255, 1);
  transform: scale(1);
  animation: pulse-4 2s infinite;
}

@keyframes pulse-4 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(238, 0, 255, 0.7);
  } 70% {
    transform: scale(1);
    box-shadow: 0 0 0 1.5rem rgba(238, 0, 255, 0);
  } 100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(238, 0, 255, 0);
  }
}

.node-5 {
  background: $red;
  color: rgb(241, 234, 234);
}

.node-5:hover {
  box-shadow: 0 0 0 0 rgba(255, 4, 0, 1);
  transform: scale(1);
  animation: pulse-5 2s infinite;
}

@keyframes pulse-5 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 4, 0, 0.7);
  } 70% {
    transform: scale(1);
    box-shadow: 0 0 0 1.5rem rgba(255, 4, 0, 0);
  } 100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 4, 0, 0);
  }
}

.node-6 {
  background: $yellow;
}

.node-6:hover {
  box-shadow: 0 0 0 0 rgba(255, 238, 0, 1);
  transform: scale(1);
  animation: pulse-6 2s infinite;
}

@keyframes pulse-6 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 238, 0, 0.7);
  } 70% {
    transform: scale(1);
    box-shadow: 0 0 0 1.5rem rgba(255, 238, 0, 0);
  } 100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 238, 0, 0);
  }
}

/* TechType */
#tech-type {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(255, 255, 255);
  background-color: #151515;
  border-radius: 0px 0px 15px 15px;
  .container {
    .row {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .row:nth-child(3n) {
      justify-content: center;
    }
  }
}